.PayMethodInputCard {
	padding: 30px;

	border-right: 1px solid var(--main-gray);
	border-bottom: 1px solid var(--main-gray);
	border-left: 1px solid var(--main-gray);

	background-color: var(--main-light);
}
