.DirectionCompactCard {
	display: block;
	width: 100%;
	max-width: 360px;

	box-shadow: var(--shadow-hover);
}

.wrapper {
	min-height: 161px;

	padding: 18px;

	border: 1px solid var(--main-gray);

	background-color: var(--main-light);
}

.right-text-wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.sub-title {
	width: 100%;
	max-width: 120px;

	text-transform: none;
}
