@import "reset";
@import "vars/globals.var";
@import "vars/font.var";
@import "vars/color.var";
@import "fonts/Roboto.font";
@import "vars/gap.var";
@import "global";

.app {
	position: relative;
	min-height: 100vh;
}

.pageStyle {
	height: auto;
	min-height: 100vh;
}

.page-container {
	display: flex;
}

.full-height {
	height: auto !important;
	min-height: 100vh !important;
}
