.RangeTimeDirections {
	padding-right: 24px;

	padding-left: 24px;

	border-top: 1px solid var(--main-gray);

	background-color: var(--main-dark);
}

.stories-container {
	width: 360px;
}

.padding {
	padding: 24px;

	padding-bottom: 40px;
}
