.DirectionInfo {
	padding: 15px 35px;

	background-color: var(--light-gray);
}

.train-icon {
	width: auto;
	height: 30px;

	color: var(--accent-orange);
}

.arrow-icon {
	width: 30px;
	height: auto;

	color: var(--accent-orange);
}

.clock-icon {
	width: 30px;
	height: auto;

	color: var(--accent-orange);
}
