.PassengersList {
	padding-right: 20px;

	padding-bottom: 20px;

	border: 1px solid var(--main-gray);

	background-color: var(--main-light);

	box-shadow: var(--shadow-hover);
}

.title {
	padding: 30px;

	border-bottom: 1px solid var(--main-gray);

	background-color: var(--main-light);
}
