.UnderFooter {
	width: 100%;

	border-top: 1px solid var(--light-gray);
}

.wrapper {
	height: 96px;
}

.arrowUp {
	height: 36px;
}

.icon {
	width: auto;
	height: 100%;
}

.copyright {
	text-transform: uppercase;
}
