.Input {
	display: flex;
	align-items: center;
	justify-content: flex-start;

	width: 100%;

	padding: 5px 20px;

	border: none;

	background: none;

	color: var(--main-dark);

	font: var(--font-m);

	&::placeholder {
		color: var(--main-gray);
		font: inherit;
	}
}

.height-s {
	height: var(--height-input-s);
}

.height-m {
	height: var(--height-input-m);
}
