.Input {
	display: flex;
	align-items: center;
	justify-content: flex-start;

	width: 100%;

	padding: 5px 20px;

	border: none;

	border-radius: var(--br-button);

	background: none;

	background-color: var(--main-light);

	color: var(--main-dark);

	font: var(--font-m);

	&::placeholder {
		color: var(--main-gray);
		font: inherit;
	}
}

.Input.withIcon {
	padding-right: 40px;
}

.wrapper {
	width: 100%;
}

.icon {
	position: absolute;
	top: 50%;

	right: 15px;
	width: auto;
	height: 30px;

	transform: translateY(-50%);

	color: var(--main-gray);
}

.icon-cursor {
	cursor: pointer;

	&:hover {
		opacity: 0.7;
	}
}

.error {
	color: var(--error);

	.Input {
		border: 1px solid var(--error);
	}
}

.height-s {
	height: var(--height-input-s);
}

.height-m {
	height: var(--height-input-m);
}

.wrapperIcon {
	position: relative;
}
