.Tabs {
	display: flex;
	align-items: center;
	gap: 0 20px;

	margin-top: 30px;
}

.btn {
	width: 80px;

	background: none;

	line-height: 30px;

	cursor: pointer;
}

.active {
	border: 2px solid var(--primary-color);
}
