.PageContent {
	padding: 95px 0;
}

.wrapper-storybook {
	background-color: var(--light-gray);
}

.right-block-storybook {
	width: 100%;
	height: 500px;

	background-color: var(--main-dark);
}

.left-block-storybook {
	width: 100%;
	height: 500px;

	background-color: var(--main-dark);
}
