.logo {
	width: 80px;
	height: 27px;

	color: var(--main-light);
}

.logo-overly {
	z-index: var(--z-index-overlay);

	height: 64px;

	background-color: var(--overlay);
}

.Header {
	position: relative;
	min-height: 980px;
}

.list-links {
	height: 94px;

	background-color: var(--main-dark);
}

.background {
	position: absolute;

	z-index: var(--zindex-header-background);

	width: 100%;
	inset: 0;
}

.content {
	position: absolute;
	inset: 0;
}

.title {
	width: 506px;
	height: 152px;
	margin-right: 100px;

	color: var(--main-light);
}

.fallbackSearch {
	width: 730px;
	height: 574px;

	background-color: var(--overlay);
}
