.SumInfo {
	padding-top: 30px;
	padding-bottom: 33px;

	border-top: 1px solid var(--light-gray);
}

.currency {
	color: var(--main-light);
	font: var(--font-xl);
	font-weight: var(--font-weight-think);
}
