.PayMethod {
	border: 1px solid var(--main-gray);

	background-color: var(--main-light);

	box-shadow: var(--shadow-hover);
}

.wrapper {
	padding: 30px;
}

.title {
	padding: 30px;

	border-bottom: 1px solid var(--main-gray);
}
