.span-from {
	color: var(--main-gray);
	font: var(--font-xs);
	font-weight: var(--font-weight-medium);
}

.span-currency {
	color: var(--main-gray);
	font: var(--font-m);
	font-weight: var(--font-weight-think);
}
