:root {
	// overlay
	--overlay: rgb(0 0 0 / 50%);

	// z-index
	--z-index-modal: 100;
	--z-index-overlay: 90;
	--z-index-input-loader: 11;
	--z-index-header-routing: 10;
	--z-index-background: -100;

	// border-radius
	--br-button: 5px;

	// shadow
	--shadow-hover: 0px 4px 4px 0px #00000040;
}
