:root {
	// overlay
	--overlay: rgb(0 0 0 / 50%);

	// z-index
	--z-index-modal: 1000;
	--z-index-overlay: 900;
	--z-index-background: -1000;
	--z-index-header-routing: 100;

	// border-radius
	--br-button: 5px;

	// shadow
	--shadow-hover: 0px 4px 4px 0px #00000040;
}
