.content {
	position: absolute;
	inset: 0;
}

.title {
	width: 506px;
	height: 152px;
	margin-right: 100px;

	color: var(--main-light);
}

.fallbackSearch {
	width: 730px;
	height: 574px;

	background-color: var(--overlay);
}
