.Page {
	height: auto;
	min-height: 100vh;
}

.header-stories {
	width: 100%;
	height: 100px;

	background-color: var(--accent-orange);
}

.footer-stories {
	width: 100%;
	height: 100px;

	background-color: var(--accent-orange);
}
